# STM32G0B1 ISO CAN FD compile coverage (future 8 Mbit transceiver)
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32G0B1=y
CONFIG_STM32_FLASH_START_2000=y
CONFIG_STM32_CLOCK_REF_8M=y
CONFIG_STM32_MMENU_CANBUS_PB0_PB1=y
CONFIG_CANBUS_FD=y
CONFIG_CANBUS_DATA_FREQUENCY=8000000
CONFIG_CANBUS_TRANSCEIVER_MAX_DATA_RATE=8000000
CONFIG_WANT_ADC_STREAM=y
CONFIG_ADC_PROFILE=y
