# OpenAMS FPS-class USB to CAN-FD bridge (current 1 Mbit transceiver)
CONFIG_LOW_LEVEL_OPTIONS=y
CONFIG_MACH_STM32=y
CONFIG_MACH_STM32G0B1=y
CONFIG_STM32_FLASH_START_2000=y
CONFIG_STM32_CLOCK_REF_16M=y
CONFIG_STM32_USBCANBUS_PA11_PA12=y
CONFIG_HELIX_USB_CAN_COMPOSITE=y
CONFIG_STM32_CMENU_CANBUS_PB0_PB1=y
CONFIG_CANBUS_FD=y
CONFIG_CANBUS_DATA_FREQUENCY=1000000
CONFIG_CANBUS_TRANSCEIVER_MAX_DATA_RATE=1000000
